/********MAIN STYLES********/

body {
    padding-bottom:0px;
}

.body-content {
    position: relative;
    
    padding-right: 0px;
    padding-left: 0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header {
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: black;
}

h2 {
    padding-bottom: 25px;
}

.HeaderPic {
    background-image: url(../images/isroad.jpg);
    background-position: center;
    padding-bottom: 200px;
}

.intro-heading {
    color:black;
}

/********NAVIGATION STYLES********/

.navbar-brand > img {
    margin-top:-15px;
}

.navbar-fixed-top {
    background-color:#3c763d;
}

.navbar-inverse {
    border:none;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color:white;
    color: black;
}

/******BOOKING FORM STYLES*******/

.form-padding {
    padding-right: 0px;
    padding-left: 0px;
}

/********SECTION STYLES********/
    
.sectionProducts .sectionTitle {
        color: #454141;
}

.sectionProducts .sectionTitle {
    margin: 0;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
}
.sectionProducts .page-header {
    margin: 0;
    padding: 30px 0 20px;
    border: 0;
    text-align: center;
}






/*Here Starts the Excerpt */
.productDescription {
    background: #3c763d;
    color: #2f2c2c;
    
}

.sectionOffers .services .serviceExcerpt {
    padding: 10px 15px;
}
.wrapperShadow {
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
}
.rowpaddingbottom {
    padding-bottom: 50px;
}

.services .serviceExcerpt {
    width: 20%;
    padding: 10px 20px;
    vertical-align: top;
}
.serviceExcerptImage {
    border-color: #3c763d;
    background: #3c763d;
}
.serviceExcerptImage {
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 30px;
    border: 1px solid #3c763d;
    font-size: 0;
    text-align: center;
    border-radius: 6px;
    position: relative;
}
.serviceExcerptHead .serviceExcerptTitle {
    margin: 0;
    padding: 30px 10px 0 15px;
    font-size: 17px;
    line-height: 1.65;
    font-weight: 700;
    text-transform: capitalize;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.serviceExcerptHead .serviceExcerptTitle {
    color: #3c763d;
}
.serviceExcerptHead .serviceExcerptTitle, .serviceExcerptBody .serviceExcerptParagraph {
    text-align: left;
}

.serviceExcerptParagraph {
    margin-top: 30px;
}
.rowPadding{
    padding: 10px;
}
.shell {
    width: 1230px;
    margin: 0 auto;
}
/* icons*/
.fa-car,
.fa-credit-card,
.fa-calendar-check-o,
.fa-plus-circle {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
.fa {
    
}
.push100 {
    padding-top:50px;
    padding-bottom:50px;
}
.push200{
    padding-top:100px;
    padding-bottom:100px;
}
.push25down{
    padding-bottom:25px;
}

/******FOOTER STYLES*******/
footer {
    width: 100%;
    background-color: #3c763d;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 15px;
}

footer div div h4 {
    color:white;
    opacity:0.5;
  
}

.footerlist {
    padding-left:0px;
}

.footerlist i {
    color:white;
}

.footerlist li {
    list-style-type: none;
    color:white;
}

.footerlist li a {
    text-decoration:none;
    color:white;
}

.copyright {
    padding-top: 15px;
    margin-top:15px;
    color: white;
    border-top: 1px solid white;
}


.labelWhiteText{
    color:white;
}