body {
}

/********NAVIGATION STYLES********/

.navbar-brand > img {
    margin-top:-15px;
}

.sectionProducts .sectionTitle {
    color: #454141;
}
.sectionProducts .sectionTitle {
    margin: 0;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
}
.sectionProducts .page-header {
    margin: 0;
    padding: 30px 0 20px;
    border: 0;
    text-align: center;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.body-content {
    padding-right: 0px;
    padding-left: 0px; 
}


.HeaderPic {
    background-image: url(../images/isroad.jpg);
    background-position: center;
    padding-bottom: 200px;
}

/*Here Starts the Excerpt */
.productDescription {
    background: #3c763d;
    color: #2f2c2c;
    
}

.sectionOffers .services .serviceExcerpt {
    padding: 10px 15px;
}
.wrapperShadow {
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
}
.services .serviceExcerpt {
    width: 20%;
    padding: 10px 20px;
    vertical-align: top;
}
.serviceExcerptImage {
    border-color: #3c763d;
    background: #3c763d;
}
.serviceExcerptImage {
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 30px;
    border: 1px solid #3c763d;
    font-size: 0;
    text-align: center;
    border-radius: 6px;
    position: relative;
}
.serviceExcerptHead .serviceExcerptTitle {
    margin: 0;
    padding: 30px 10px 0 15px;
    font-size: 17px;
    line-height: 1.65;
    font-weight: 700;
    text-transform: capitalize;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.serviceExcerptHead .serviceExcerptTitle {
    color: #3c763d;
}
.serviceExcerptHead .serviceExcerptTitle, .serviceExcerptBody .serviceExcerptParagraph {
    text-align: left;
}

.serviceExcerptParagraph {
    margin-top: 30px;
}
.rowPadding{
    padding: 10px;
}
.shell {
    width: 1230px;
    margin: 0 auto;
}
/* icons*/
.fa-car {
    
}
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}