body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.lbl_text {
    color: #fff;
    background-color: #333;
    opacity: 0.8;
    padding: 0px 5px 0px 5px;

}

.btn-secondary {
    color: #fff;
    background-color: #285d47;
    border-color: #285d47;
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff;
    background-color: #23533f;
    border-color: #1f513c;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #23533f;
    border-color: #23533f;
}

.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #23533f;
    border-color: #23533f;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
/* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* nav fade*/
body {
    margin: 0;
}

/*#menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    background-color: #DDDDDD;
    color: #FFFFFF;
    z-index: 9999;
    display: none;
}*/

    header .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
    }

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 0px;
    }
}

header .intro-text .intro-lead-in {
    font-family: "Playfair Display",serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text .intro-lead-in {
        font-family: "Playfair Display",serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
}

header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}
.navbar-fixed-top {
    background-color: rgba(255,255,255,1);
    transition: background-color 2s ease 0s;
}

.navbar-fixed-top.opaque {
        background-color: rgba(255,255,255,0);
        transition: background-color 2s ease 0s;
}
footer{
    
}

/* Datepicker */

/* DatePicker Container */
.ui-datepicker {
    width: 280px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
    text-decoration: none;
}
    /* DatePicker Table */
.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-header {
    background-color: #000;
    color: #e0e0e0;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-image: url('../images/arrow2.png');
    background-repeat: no-repeat;
    background-color: #000;
    line-height: 600%;
    overflow: hidden;
    border-top: 1px solid #111;
}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}

.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

.ui-datepicker thead {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
    background-image: -ms-linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
    background-image: linear-gradient(top, #f7f7f7 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
    border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
    text-transform: uppercase;
    font-size: 6pt;
    padding: 5px 0;
    color: #666666;
    text-shadow: 1px 0px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
    padding: 0;
    border-right: 1px solid #bbb;
}

    .ui-datepicker tbody td:last-child {
        border-right: 0px;
    }

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 39px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-calendar .ui-state-default {
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
    background: -webkit-linear-gradient(top, #ededed 0%,#dedede 100%);
    background: -o-linear-gradient(top, #ededed 0%,#dedede 100%);
    background: -ms-linear-gradient(top, #ededed 0%,#dedede 100%);
    background: linear-gradient(top, #ededed 0%,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}

.ui-datepicker-calendar .ui-state-hover {
    background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
    background: #6eafbf;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    color: #e0e0e0;
    text-shadow: 0px 1px 0px #4d7a85;
    filter: dropshadow(color=#4d7a85, offx=0, offy=1);
    border: 1px solid #55838f;
    position: relative;
    margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}



th {
    width: 100%;
    text-align: center;
}
/* Datepicker END */

/* Find Cars*/

.Car {
    width: 100%;
    border: 1px solid rgba(250, 250, 250, .5);
    margin-bottom: 5px;
    clear: both;
    float: left;
}

.CarPic {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    float: left;
}

.CarPic img {
    width: 100%;
    height: 100%;
}

.CarInfo {
    width: 100%;
    border: 0;
    float: left;
    margin-top: 30px;
}

.chooseCar {
    margin-left: 43%;
    padding: 0;
    clear: both;
    margin-top: 5px;
}

table.tableCarInfo {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tdCarNaming {
    float: left;
    margin-top: 10px;
    width: 100%;
    height: 25px;
    font: 14px arial, sans-serif;
    font-weight: bold;
}

.tdCarInfo {
    height: 25px;
    font: 14px arial, sans-serif;
}

/*Find Cars END*/



