body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* nav fade*/
body {
    margin: 0;
}

/*#menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    background-color: #DDDDDD;
    color: #FFFFFF;
    z-index: 9999;
    display: none;
}*/
header {
    
    
    
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}
    header .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
    }

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 0px;
    }
}

header .intro-text .intro-lead-in {
    font-family: "Playfair Display",serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text .intro-lead-in {
        font-family: "Playfair Display",serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
}

header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}
.navbar-fixed-top {
    background-color: rgba(255,255,255,1);
    transition: background-color 2s ease 0s;
}

.navbar-fixed-top.opaque {
        background-color: rgba(255,255,255,0);
        transition: background-color 2s ease 0s;
}