@model GM011.Models.Costumer
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("SendEmailAsync", "Home"))
{
<div class="col-md-4 col-md-offset-2">
    <h4 class="rowPadding"> We will contact you within 24 hours</h4> @*--der mangler noget styling--*@
    
    <div class="col-md-6">
        <div class="form-group">
            <label class="lbl_text"> Email</label>
            <input name="email" class="form-control" type="text" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="lbl_text"> Name</label>
            <input name="subject"  class="form-control" type="text" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="lbl_text"> message</label>
            <textarea name="message" class="form-control" ></textarea>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-secondary">Submit</button>

    </div>
    
</div>
}






<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
