@model GM011.Models.Costumer
@{
    ViewData["Title"] = "Contact";
}

<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("SendEmailAsync", "Home")) {
<div class="row ">

    <h4 class="rowPadding col-md-offset-2"> We will contact you within 24 hours</h4> @*--der mangler noget styling--*@

    <div class="col-md-6 col-md-offset-2">
        <div class="form-group">
            <label class="lbl_text"> Name</label>
            <input name="subject" id="" class="form-control" type="text" />
        </div>
    </div>
    <div class="col-md-6  col-md-offset-2">
        <div class="form-group">
            <label class="lbl_text"> Email </label>
            <input name="email" id="" class="form-control" type="text" />
        </div>
    </div>
    <div class="col-md-6  col-md-offset-2">
        <div class="form-group">
            <label class="lbl_text"> Message </label>
            <textarea name="message" id="" class="form-control" type="text" ></textarea>
        </div>
    </div>
   <div class="col-md-6  col-md-offset-2">
       <div class="form-group">
           <button type="submit" class="btn btn-secondary">Submit</button>
       </div>
   </div>
        
   

</div>
}







<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
