@{
    ViewData["Title"] = "Home Page";
}

@*Her Kommer Der Landing Page med Formular for valg af dato*@
@* Landing skal fylle 100%*@
<header >
    <div class="container">
        <div class="slider-container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to Green Mile</div>
                <div class="intro-heading">We are still not ready yet!</div>

            </div>
        </div>
    </div>
</header>
@*Her Kommer der Information Om Biler og service*@
<section class="main mainHome">
    <div class="sectionProducts">
        <div class="row ">
            <div class="col-lg-12">
                <header class="page-header ProductSection">
                    <h2 class="ProductSection sectionTitle">
                        Vehicles
                    </h2>
                </header>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h2> Stuff</h2>
                <img src="~/images/dummyCar1.jpg" />
                <div class="caption">
                    <p class="productTitle"> Medium: Low Emission</p>
                    <p class="productDescription"> Example of this range: Car</p>
                    <ul class="list-inline productMeta">
                        <li>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

                            <span class="text-uppercase">4</span>
                        </li>

                        <li>
                            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>

                            <span class="text-uppercase">2</span>
                        </li>

                        <li>
                            <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>

                            <span class="text-uppercase">4</span>
                        </li>

                        <li>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>

                            <span class="text-uppercase">M</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <h2> Stuff</h2>
                <img src="~/images/dummyCar1.jpg" />
                <div class="caption">
                    <p class="productTitle"> Medium: Low Emission</p>
                    <p class="productDescription"> Example of this range: Car</p>
                    <ul class="list-inline productMeta">
                        <li>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

                            <span class="text-uppercase">4</span>
                        </li>

                        <li>
                            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>

                            <span class="text-uppercase">2</span>
                        </li>

                        <li>
                            <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>

                            <span class="text-uppercase">4</span>
                        </li>

                        <li>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>

                            <span class="text-uppercase">M</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <h2> Stuff</h2>
                <img src="~/images/dummyCar1.jpg" />
                <div class="caption">
                    <p class="productTitle"> Medium: Low Emission</p>
                    <p class="productDescription"> Example of this range: Car</p>
                    <ul class="list-inline productMeta">
                        <li>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

                            <span class="text-uppercase">4</span>
                        </li>

                        <li>
                            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>

                            <span class="text-uppercase">2</span>
                        </li>

                        <li>
                            <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>

                            <span class="text-uppercase">4</span>
                        </li>

                        <li>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>

                            <span class="text-uppercase">M</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="sectionOffers">
        <div class="sectionBody">
            <ul class="radio-inline services">
                <li class="serviceExcerpt">
                    <div class="serviceExcerptHead">
                        <div class="serviceExcerptImage">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="serviceExcerptTitle"></div>
                    </div>
                    <div class="serviceExcerptBody"></div>
                </li>
            </ul>
        </div>
    </div>
</section>
        


@*Her Kommer Der Booking/Contact Formula*@
<section></section>

@*Her Efter Kommer Footer med SharedLayot*@
