@{
    ViewData["Title"] = "Home Page";
}
<header>
    <div class="container">
        <div class="slider-container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to Green Mile</div>
                <div class="intro-heading">We are still not ready yet!</div>

            </div>
        </div>
    </div>
</header>
<section id="about" class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>ABOUT</h2>
                    <p>We are a small company that rents cars and offers adventure excourcion tours</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- about module -->
            <div class="col-md-4 text-center">
                <div class="mz-module-about">
                    <i class="fa fa-binoculars ot-circle"></i>
                    <h3>Excourcions</h3>
                    <p>
                        Enjoy Icland on your own or with privet guide
                        We take care of all the planning for you, provide you with a car and a detailed travel plan and road map. Our speciality is sommer and winter tours 1 day or longer with the highlands in focus
                    </p>
                </div>
            </div>

            <!-- end about module -->
            <!-- about module -->
            <div class="col-md-4 text-center">
                <div class="mz-module-about">
                    <i class="fa fa-car ot-circle"></i>
                    <h3>Vehicles</h3>
                    <p>We will assure you the best time with the best vehicles so you wont miss anything!</p>
                </div>
            </div>
            <!-- end about module -->
            <!-- about module -->
            <div class="col-md-4 text-center">
                <div class="mz-module-about">
                    <i class="fa fa-users ot-circle"></i>
                    <h3>About os</h3>
                    <p>Green mile is a family owned company. Our goal is to provide excellent and a personal services to all our clients. Our specialties are the highlands of Island, organize tours around it with or without guidance and provide associated vehicle.</p>
                </div>
            </div>
            <!-- end about module -->
        </div>
    </div>
    <!-- /.container -->
</section>
