@{
    ViewData["Title"] = "Home Page";
}

@*Her Kommer Der Landing Page med Formular for valg af dato*@
@* Landing skal fylle 100%*@
<header>
    <div class="container">
        <div class="slider-container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to Green Mile</div>
                <div class="intro-heading">We are still not ready yet!</div>

            </div>
        </div>
    </div>
</header>
@*Her Kommer der Information Om Biler og service*@
<section id="about" class="light-bg">
   
</section>
@*Her Kommer Der Booking/Contact Formula*@
<section>

</section>

@*Her Efter Kommer Footer med SharedLayot*@
