@model GM011.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" id="ordercreate-form">
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CarID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CarID" class="form-control" asp-items="ViewBag.CarID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderDate" class="form-control" name="orderdate" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOut" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOut" class="form-control" name="dateout" />
                <span asp-validation-for="DateOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateIN" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateIN" class="form-control" name="datein" />
                <span asp-validation-for="DateIN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MileageOut" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MileageOut" class="form-control" />
                <span asp-validation-for="MileageOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MileageIn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MileageIn" class="form-control" />
                <span asp-validation-for="MileageIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MileageAllowance" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MileageAllowance" class="form-control" />
                <span asp-validation-for="MileageAllowance" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExcessMileage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExcessMileage" class="form-control" />
                <span asp-validation-for="ExcessMileage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderStatus" class="form-control" name="orderstatus" />
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Discription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Discription" class="form-control" name="description" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}