@model GM011.Models.Car

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Car</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CarID" />
        <div class="form-group">
            <label asp-for="RegNo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RegNo" class="form-control" />
                <span asp-validation-for="RegNo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CarTypeID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CarTypeID" class="form-control" asp-items="ViewBag.CarTypeID"></select>
                <span asp-validation-for="CarTypeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServiceID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServiceID" class="form-control" />
                <span asp-validation-for="ServiceID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CurrentMilage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CurrentMilage" class="form-control" />
                <span asp-validation-for="CurrentMilage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NextServiceMilage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NextServiceMilage" class="form-control" />
                <span asp-validation-for="NextServiceMilage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Doors" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Doors" class="form-control" />
                <span asp-validation-for="Doors" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Seats" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fuel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fuel" class="form-control" />
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FuelPerKM" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FuelPerKM" class="form-control" />
                <span asp-validation-for="FuelPerKM" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Transmission" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Transmission" class="form-control" />
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
